<!DOCTYPE html>
<html>
<head>
	<title>Caesar Cipher</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
	<div class="header">
		<h1>Try the Caesar Cipher!</h1>
	</div>
	<form method="GET" action="/parse">
		<label for ="text">Unciphered Text:
			<input type="text" name="unciphtext">
		</label>
		<label for="shift"> Desired Shift:
			<input type="number" name="shift">
		</label>
		<input type="submit" value="encrypt!">
	</form>
</body>
</html>