$hotpink: #c6538c;
$main-font: 'Proza Libre', Helvetica,  sans-serif;
html{
	font-family: $main-font;
}
.header{
	h1 {
		text-align: center;
		color: $hotpink;
		font-size: 45px;
	}
}
input {
	display: block;
}
